<ion-header>
  <ion-toolbar>
    <ion-title>Dinos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let dino of dinos" [routerLink]="['/profile/' +dino.id]"
            (click)="hola(dino)">
            <ion-avatar slot="start" class="avatar-container">
              <img src="{{dino.img}}" alt="" />
            </ion-avatar>            
            <ion-label>{{dino.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>